{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="display-4 text-center mb-4">Cadastre Amenities Value</h1>
    <p class="lead text-center mb-5">Проект за курс „Разработка и архитектура на географски информационни системи“ във
        <a href="https://www.fmi.uni-sofia.bg/" target="_blank" rel="noopener noreferrer">ФМИ на СУ</a></p>

    <div class="row justify-content-center">
        <div class="col-lg-8">
            <p class="mb-4" style="text-align: justify;">
                Платформата предоставя интерактивна карта за град София. Чрез падащо меню потребителят избира конкретен
                район, за който се визуализират кадастрални данни. При селектиране на поземлен имот, системата генерира
                изолиния, изхождаща от центроида на имота, и идентифицира ключови точки на интерес по нея. За
                допълнителна персонализация са достъпни контроли за задаване на времеви диапазон, метод на придвижване и
                категория на показваните точки на интерес.
            </p>
            <p class="mb-4" style="text-align: justify;">
                Уебсайтът интегрира отворени кадастрални данни от <a href="https://www.cadastre.bg/" target="_blank"
                                                                     rel="noopener noreferrer">Агенцията по геодезия,
                картография и кадастър (АГКК)</a>. Тя обогатява тази информация с точки на интерес, извлечени от <a
                    href="https://www.openstreetmap.org/" target="_blank" rel="noopener noreferrer">OpenStreetMap</a>, и
                използва функционалността на <a href="https://www.geoapify.com/" target="_blank"
                                                rel="noopener noreferrer">Geoapify</a> за изчисляване на изолинии.
            </p>
            <p class="mb-4" style="text-align: justify;">
                <b> Потребителят избира район </b> от падащо меню, за да се покажат кадастрални имоти за съответния
                административен район. При кликване върху поземлен имот се изчертава <b>изолиния спрямо неговия
                центроид</b>, като се отбелязват специфични точки на интерес. Налични са настройки за времето, начина на
                придвижване и вида на точките на интерес.
            </p>
            <p class="mb-4" style="text-align: justify;">При кликване на случайно място от картата анализът бива
                извършен по същия начин както и при кликване на кадастрален имот, като вместо центроид, се взимат
                координатите на кликването. С цел демонстрация, първото се визуализира със зелен цвят, а второто с
                червен. </p>
            <p class="mb-4" style="text-align: justify;">
                Допълнително, поради демонстрационни и тестови причини първоначално се зареждат случайни данни от
                кадастъра на територията на Столична община.
            </p>
        </div>
    </div>
</div>
{% endblock %}