{% extends 'base.html' %}

{% block content %}
<div id="map" class="flex-grow-1"></div>
{% endblock %}

{% block additionaljs %}
<!-- Leaflet JavaScript -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        crossorigin=""></script>

<script>
    // Initialize the map
    // Set view to a default location (e.g., Sofia) and zoom level
    const map = L.map('map').setView([42.6977, 23.3219], 13);

    // Add a Tile Layer (OpenStreetMap is a good default choice)
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // TODO: Just for debug purposes
    map.on('moveend', function (e) {
        var bounds = map.getBounds();
        if (bounds) {
            var northeast = bounds.getNorthEast();
            var southwest = bounds.getSouthWest();

            alert("Northeast: " + northeast + "\n" +
                "Southwest: " + southwest);
        } else {
            alert("Bounds are not defined.");
        }
    })


    const fetchData = async () => {
        try {
            const response = await fetch('/api/land-properties');
            const geojsonData = await response.json();

            const geoJsonLayer = L.geoJSON(geojsonData, {
                onEachFeature: (feature, layer) => {
                    if (feature.properties) {
                        let cadnum = feature.properties.cadnum;
                        let ogc_fid = feature.properties.ogc_fid;
                        let proptype = feature.properties.proptype;

                        let jsString = `Cadastral Number: ${cadnum}<br/>
                        OGC FID: ${ogc_fid}<br/>
                        Property Type: ${proptype}`;

                        layer.bindPopup(jsString);
                    }
                }
            }).addTo(map);

            // TODO: Just for now
            map.fitBounds(geoJsonLayer.getBounds());

            map.on('click', async (e) => {
                alert('Click on a feature to see details');
            });

        } catch (error) {
            console.error('Error loading JSON data', error);
            alert('Error loading JSON data');
        }
    };

    fetchData();
</script>
{% endblock %}
