{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <form class="form-horizontal w-100 mt-3">
        <div class="row mb-3">
            <label for="administrativeDivision" class="col-sm-2 col-form-label">Административен район</label>
            <div class="col-sm-4">
                <select class="form-select" id="administrativeDivision">
                    <option selected disabled>Select Division</option>
                </select>
            </div>

            <label for="amenityType" class="col-sm-2 col-form-label">Точки на интерес</label>
            <div class="col-sm-4">
                <select class="form-select" id="amenityType">
                    <option selected value="hospital">Болница (hospital)</option>
                    <option value="school">Училище (school)</option>
                    <option value="cafe">Кафене (cafe)</option>
                    <option value="restaurant">Ресторант (restaurant)</option>
                    <option value="supermarket">Супермаркет (supermarket)</option>
                    <option value="pharmacy">Аптека (pharmacy)</option>
                    <option value="atm">Банкомат (ATM)</option>
                </select>
            </div>
        </div>

        <div class="row mb-3">
            <label for="travelRange" class="col-sm-2 col-form-label">Време (минути)</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="travelRange" value="5" min="1" max="30">
            </div>

            <label for="travelMode" class="col-sm-2 col-form-label">Метод на пътуване</label>
            <div class="col-sm-4">
                <select class="form-select" id="travelMode">
                    <option selected value="walk">Пеша</option>
                    <option disabled value="drive">С лека кола</option>
                </select>
            </div>
        </div>
    </form>
</div>

<div id="map" class="flex-grow-1"></div>
{% endblock %}

{% block additionaljs %}
<script src="{{ url_for('static', filename='js/mapsettings.js') }}"></script>

<!-- Leaflet JavaScript -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        crossorigin=""></script>

<script src="{{ url_for('static', filename='js/leafletmap.js') }}"></script>
{% endblock %}
