{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <form class="form-horizontal w-100 mt-3">
        <div class="row mb-3">
            <label for="administrativeDivision" class="col-sm-2 col-form-label">Административен район</label>
            <div class="col-sm-4">
                <select class="form-select" id="administrativeDivision">
                    <option selected disabled>Select Division</option>
                </select>
            </div>

            <label for="walkTime" class="col-sm-2 col-form-label">Време</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="walkTime" value="5" min="1">
            </div>
        </div>

        <div class="row mb-3">
            <label for="amenityType" class="col-sm-2 col-form-label">Точки на интерес</label>
            <div class="col-sm-10">
                <select class="form-select" id="amenityType">
                    <option selected disabled>Изберете...</option>
                </select>
            </div>
        </div>
    </form>
</div>

<div id="map" class="flex-grow-1"></div>
{% endblock %}

{% block additionaljs %}
<script src="{{ url_for('static', filename='js/mapsettings.js') }}"></script>

<!-- Leaflet JavaScript -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        crossorigin=""></script>

<script src="{{ url_for('static', filename='js/leafletmap.js') }}"></script>
{% endblock %}
